.container {
	width: 100%;
}

.course {
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 18px;

	&__left {
		display: flex;
		column-gap: 30px;

		h2 {
			font-size: 20px;
			font-weight: 600;
			line-height: 27px;
			color: #3b434e;
			margin-bottom: 9px;
		}

		span {
			border: 1px solid #ebebeb;
			border-radius: 20px;
			font-size: 12px;
			font-weight: 500;
			line-height: 12px;
			margin-right: 5px;
			padding: 5px 12px;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		column-gap: 40px;
	}

	&__price {
		font-size: 20px;
		font-weight: 400;
		line-height: 27px;
		color: #3b434e;

		.price-green {
			background-color: #c8f8e4;
			color: #1dc37e;
			border-radius: 20px;
			font-size: 12px;
			font-weight: 700;
			line-height: 12px;
			padding: 4px 7px;
			margin-left: 7px;
		}

		&--month {
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
		}

		&--dop {
			font-size: 14px;
			font-weight: 300;
			line-height: 19px;
			color: #3b434e;
		}
	}

	.rating {
		&__count {
			font-size: 14px;
			font-weight: 300;
			line-height: 19px;
			color: #3b434e;
		}
	}
}

.body {
	padding-top: 22px;
	p {
		margin-bottom: 14px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 4px;

		b {
			font-size: 16px;
			line-height: 32px;
			font-weight: 700;
			color: #3b434e;
		}

		span,
		p {
			font-size: 16px;
			font-weight: 500;
			line-height: 21px;
			color: #3b434e;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 507px;
		padding-top: 5px;

		&--block {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__right {
		width: 100%;
		max-width: 555px;
		display: flex;
		flex-direction: column;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 3px;
			border-radius: 2px;
			background-color: #1dc37e;
			height: 71px;
			left: -15px;
			top: 8px;
		}

		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 3px;
			border-radius: 2px;
			background-color: #fc836d;
			height: 44px;
			left: -15px;
			bottom: 12px;
		}
	}

	&__links {
		display: flex;
		column-gap: 20px;
		padding-top: 22px;
	}
}
