.nav {
	&__list {
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		li {
			position: relative;
			padding-left: 44px;
			margin-bottom: 20px;
			svg {
				position: absolute;
				left: 0;
			}
		}
	}
}
